*{
    margin:0;
}
.nav{    
    height: 70px;
    background-color: black;
    color: white;    
}
.leftPanel{    
    width: 40%;
}
.rightPanel{    
    width: 60%;
}
.rightPanel a{
    color:white;
    text-decoration: none;
    margin-right: 50px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

